<form class="c-cart-items-form cart-items" action="{{ current_url }}" method="post">
    <input type="hidden" name="update_cart" value="1">

    {% for item in items %}
        <div class="cart-item" id="cart-item-{{ item.id }}">

            <div class="cart-item__product">
                <p class="cart-item__name">
                    {{ item.name }}
                    {% if item.quantity != 1 %}
                        <span class="cart-item__quantity cart-item__quantity_text">&times; {{ item.quantity }}</span>
                    {% endif %}
                </p>

                {% spaceless %}
                    <p class="cart-item__price">
                    {% if item.discount != 0 %}
                        <span class="cart-item__discount">{{ lex('commerce.cart.item.discount', {'discount': item.discount_formatted}) }}</span>
                        <br>
                        <span class="cart-item__subtotal">{{ item.total_formatted }}</span>
                    {% else %}
                        <span class="cart-item__subtotal">{{ item.total_formatted }}</span>
                    {% endif %}
                    </p>
                {% endspaceless %}
            </div>

            {% if item.allow_update %}
            <div class="cart-item__actions">
                <div class="cart-item__quantityfld">
                    <input type="number"
                           class="cart-item__quantity cart-item__quantityfld_input"
                           name="items[{{ item.id }}]"
                           value="{{ item.quantity }}"
                           id="item-{{ loop.index0 }}-quantity"
                           min="1"
                           step="1"
                           {% if item.product and item.product.stock and not item.product.stock_infinite %}max="{{ item.product.stock }}"{% endif %}
                           aria-label="{{ lex('commerce.quantity') }}"
                           title="{{ lex('commerce.quantity') }}"
                    >
                </div>

                <button class="cart-item__update" type="submit" title="{{ lex('commerce.cart.update_cart') }}">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M4 2a1 1 0 011 1v2.101a7.002 7.002 0 0111.601 2.566 1 1 0 11-1.885.666A5.002 5.002 0 005.999 7H9a1 1 0 010 2H4a1 1 0 01-1-1V3a1 1 0 011-1zm.008 9.057a1 1 0 011.276.61A5.002 5.002 0 0014.001 13H11a1 1 0 110-2h5a1 1 0 011 1v5a1 1 0 11-2 0v-2.101a7.002 7.002 0 01-11.601-2.566 1 1 0 01.61-1.276z" clip-rule="evenodd" />
                    </svg>
                </button>

                <button class="cart-item__remove" name="remove_item" value="{{ item.id }}" title="{{ lex('commerce.cart.remove_product') }}">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                    </svg>
                </button>
            </div>

            {% endif %}
        </div>
    {% endfor %}
</form>
